<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand">
            <!-- <img src="images/logo.svg" height="28" alt="CoolBrand"> -->
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link pointer" routerLink="">Home</a>
                <a class="nav-item nav-link pointer" *ngIf="loggedIn()">Friends</a>
                <a class="nav-item nav-link pointer" *ngIf="loggedIn()">Messages</a>
            </div>
            <div class="navbar-nav ml-auto" *ngIf="!loggedIn()">
                <a href="#" class="nav-item nav-link" routerLink="login">Login</a>
                <a href="#" class="nav-item nav-link" routerLink="register">Register</a>
            </div>

            <div class="navbar-nav ml-auto" *ngIf="loggedIn()">
                <div class="dropdown" dropdown>
                    <a id="basic-link" dropdownToggle (click)="false" aria-controls="dropdown-basic"
                        class="pointer text-white dropdown-toggle text-decoration-none">
                        Welcome {{userName | titlecase}}
                    </a>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu mt-3" role="menu"
                        aria-labelledby="button-link">
                        <li role="menuitem">
                            <a class="dropdown-item pointer"><i class="fa fa-user mr-2"></i>Edit Profile</a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem">
                            <a class="dropdown-item pointer" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>